// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
$primary-color: #1DA1F2;
$secondary-color: #657786;
$background-color: #14171A;
$text-color: #FFFFFF;

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.navbar-brand {
    color: $primary-color;
    font-weight: bold;
}

.navbar-brand:hover {
    color: $text-color;
}

.nav-link {
    color: $primary-color;
    font-size: 14px;
}

.uzi {
    width: 20px;
    height: 20px;
}

.nav-link:hover {
    color: $text-color;
}

.dropdown-item {
    background-color: $background-color;
    color: $primary-color;
    font-size: 14px;
}

.dropdown-item:hover {
    background-color: $background-color;
    color: $text-color;
}

.dropdown-menu {
    background-color: $background-color;
    color: $primary-color;
}

.btn-secondaryy {
    border: 2px solid $background-color;
    color: $text-color;
    background-color: $primary-color;
    border-radius: 10%;
}

.navbar {
    height: 100px;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image-grid img {
    width: 100%;
    height: auto;
}

.navbar-brand {
    font-size: 50px;
    font-weight: bold;
}

.btn-secondaryy:hover {
    border: 2px solid $background-color;
    color: $text-color;
    background-color: $primary-color;
}

.sss {
    color: $primary-color;
}

.card-header {
    background-color: $background-color;
    color: $primary-color;
}

.card {
    border: 4px solid $primary-color;
    background-color: $background-color;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,1),0 0 8px rgba(29, 161, 242, 1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,1),0 0 8px rgba(29, 161, 242, 1);
}

.nav {
    color: $primary-color;
}

.btn {
    color: $text-color;
    font-size: 14px;
    text-decoration: none;
}

.btn:hover {
    color: $text-color;
}

.ok {
    color: $primary-color;
}

.btn-primary {
    color: $primary-color;
    font-size: 14px;
    background-color: $background-color;
    border: 2px solid $primary-color;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: $primary-color;
    color: $text-color;
    border: 2px solid $primary-color;
}

.form-control {
    background-color: $background-color;
    border: 2px solid $primary-color;
    color: $primary-color;
    outline: 0;
}

.form-control:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(29, 161, 242, 0.5);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(29, 161, 242, 0.5);
    transition: 0.3s ease-in;
}

.form-check-input {
    border: 2px solid $primary-color;

}

.form-check-input:focus {
    background-color: $background-color;
    border: 2px solid $primary-color;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(29, 161, 242, 0.5);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(29, 161, 242, 0.5);
    transition: 0.3s ease-in;
}

.linklink:hover{
    background-color: $primary-color;
    color: #fff;
}

.form-check-input:checked {
    background-color: $background-color;
    border: 2px solid $primary-color;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(29, 161, 242, 0.5);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(29, 161, 242, 0.5);
    transition: 0.3s ease-in;
}

.font-shadow {
    text-shadow: 1px 1px 1px $primary-color;
    font-size: 23px;
}

* {
    color: #8899a6;
    background-color: #15202b;
}
a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: $primary-color;
}

.card {
    background-color: #15202b;
    border-color: $primary-color;
}

.hhh {
    width: 9%;
}

.ggg {
    display: flex;
}

/* Navbar */

.navbar-brand {
    border-bottom: 1px solid $primary-color;
    color: $primary-color;
}

.navbar-brand:hover {
    color: #fff;
    border-bottom: 1px solid $primary-color;
    text-decoration: none;
    transition: 0.5s ease-in;
}

.nav-link {
    color: $primary-color;
    font-size: 14px;
}

.uzi {
    width: 20px;
    height: 20px;
}

.nav-link:hover {
    color: #fff;
    border-bottom: 1px solid $primary-color;
    text-decoration: none;
    transition: 0.5s ease-in;
}

.dropdown-item {
    background-color: #15202b;
    color: $primary-color;
    font-size: 14px;
}

.dropdown-item:hover {
    background-color: #15202b;
    color: #fff;
    border-bottom: 1px solid $primary-color;
    transition: 0.5s ease-in-out;
}

.dropdown-menu {
    background-color: #15202b;
    color: $primary-color;
}

.btn-secondaryy {
    border: 2px solid #15202b;
    color: #fff;
    background-color: $primary-color;
    border-radius: 10%;
}

.btn-secondaryy:hover {
    border: 2px solid #15202b;
    color: #fff;
    background-color: $primary-color;
}

.sss {
    color: $primary-color;
}

.card-header {
    background-color: #15202b;
    color: $primary-color;
}

.nav {
    color: $primary-color;
}

.btn {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.btn:hover {
    color: #fff;
    border-bottom: 1px solid $primary-color;
    text-decoration: none;
    transition: 0.5s ease-in;
}

.ok {
    color: $primary-color;
}

.btn-primary {
    color: $primary-color;
    font-size: 14px;
    background-color: #15202b;
    border: 2px solid $primary-color;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: $primary-color;
    color: #fff;
    border: 2px solid $primary-color;
}

.form-control {
    background-color: #15202b;
    border: 1px solid #38444d;
    color: #fff;
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
}

.form-control:focus {
    border-color: #1da1f2;
    box-shadow: none;
}

.btn {
    color: #fff;
    border-radius: 9999px;
    padding: 0.5rem 1rem;
    font-size: 14px;
}

.btn:hover {
    background-color: #0c8ddb;
    color: #fff;
    transform: scale(1);
}

.btn:focus {
    outline: none;
    box-shadow: none;
}
.sh:hover {
    background-color: darkred;
    color: #fff;
    transform: scale(1);
}

.rank-ultimate-overlord {
    color: #F5F5F5;
    text-shadow: 0 0 5px #FFA500, 0 0 10px #FFA500, 0 0 20px #FFA500;
    animation: glowing-orange 1s ease-in-out infinite;
}

.rank-supreme-commander {
    color: #F5F5F5;
    text-shadow: 0 0 5px #8B008B, 0 0 10px #8B008B, 0 0 20px #8B008B;
    animation: glowing-purple 1s ease-in-out infinite;
}

.rank-generalissimo {
    color: #F5F5F5;
    text-shadow: 0 0 5px #1E90FF, 0 0 10px #1E90FF, 0 0 20px #1E90FF;
    animation: glowing-blue 1s ease-in-out infinite;
}

.rank-grandmaster {
    color: #F5F5F5;
    text-shadow: 0 0 5px #228B22, 0 0 10px #228B22, 0 0 20px #228B22;
    animation: glowing-green 1s ease-in-out infinite;
}

.rank-master {
    color: #F5F5F5;
    text-shadow: 0 0 5px #6A5ACD, 0 0 10px #6A5ACD;
    animation: glowing-blueviolet 1s ease-in-out infinite;
}

.rank-veteran {
    color: #F5F5F5;
    text-shadow: 0 0 5px #008B8B, 0 0 10px #008B8B;
    animation: glowing-darkcyan 1s ease-in-out infinite;
}

.rank-pro {
    color: #F5F5F5;
    text-shadow: 0 0 5px #696969;
    animation: glowing-dimgrey 1s ease-in-out infinite;
}

.rank-expert {
    color: #F5F5F5;
    text-shadow: 0 0 5px #DC143C;
    animation: glowing-crimson 1s ease-in-out infinite;
}

.rank-novice {
    color: #F5F5F5;
    text-shadow: 0 0 5px #F5DEB3;
    animation: glowing-wheat 1s ease-in-out infinite;
}

.rank-peasant {
    color: inherit;
}

/* keyframe animations for the glowing effect */
@keyframes glowing-orange {
    0% {
        text-shadow: 0 0 5px #FFA500, 0 0 10px #FFA500, 0 0 20px #FFA500;
    }
}

@keyframes glowing-purple {
    0% {
        text-shadow: 0 0 5px #8B008B, 0 0 10px #8B008B, 0 0 20px #8B008B;
    }
}

@keyframes glowing-blue {
    0% {
        text-shadow: 0 0 5px #1E90FF, 0 0 10px #1E90FF, 0 0 20px #1E90FF;
    }
}

@keyframes glowing-green {
    0% {
        text-shadow: 0 0 5px #228B22, 0 0 10px #228B22, 0 0 20px #228B22;
    }
}

@keyframes glowing-blueviolet {
    0% {
        text-shadow: 0 0 5px #6A5ACD, 0 0 10px #6A5ACD, 0 0 20px #6A5ACD;
    }
}

@keyframes glowing-darkcyan {
    0% {
        text-shadow: 0 0 5px #008B8B, 0 0 10px #008B8B;
    }
}

@keyframes glowing-dimgrey {
    0% {
        text-shadow: 0 0 5px #696969;
    }
}

@keyframes glowing-crimson {
    0% {
        text-shadow: 0 0 5px #DC143C;
    }
}

@keyframes glowing-wheat {
    0% {
        text-shadow: 0 0 5px #F5DEB3;
    }
}

.user-stats {
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.user-stat {
    margin-right: 20px;
    font-size: 16px;
    color: rgba(121, 29, 29, 0.5);
    font-weight: bold;
}

.user-rank {
    display: inline-block;
    border-radius: 4px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #333;
}

.Peasant {
    color: #FFB347;
    text-shadow: 0px 0px 20px #FFB347;
}

.Trainee {
    color: #C23B22;
    text-shadow: 0px 0px 20px #C23B22;
}

.Novice {
    color: #00BFFF;
    text-shadow: 0px 0px 20px #00BFFF;
}

.Apprentice {
    color: #9370DB;
    text-shadow: 0px 0px 20px #9370DB;
}

.Journeyman  {
    color: #C0C0C0;
    text-shadow: 0px 0px 20px #C0C0C0;
}

.Veteran {
    color: #800000;
    text-shadow: 0px 0px 20px #800000;
}

.Elite {
    color: #DB7F8E;
    text-shadow: 0px 0px 20px #DB7F8E;
}

.Master {
    color: #FFD700;
    text-shadow: 0px 0px 20px #FFD700;
}

.Grandmaster {
    color: #FF69B4;
    text-shadow: 0px 0px 20px #FF69B4;
}

.Legend {
    color: #9400D3;
    text-shadow: 0px 0px 20px #9400D3;
}

.Hero {
    color: #0066cc;
    text-shadow: 1px 1px #0066cc, 2px 2px #0066cc, 3px 3px #0066cc;
}

.Divine {
    color: #0099cc;
    text-shadow: 1px 1px #0099cc, 2px 2px #0099cc, 3px 3px #0099cc;
}

.Immortal {
    color: #00cccc;
    text-shadow: 1px 1px #00cccc, 2px 2px #00cccc, 3px 3px #00cccc;
}

.Overlord {
    color: #00cc66;
    text-shadow: 1px 1px #00cc66, 2px 2px #00cc66, 3px 3px #00cc66;
}

.Supreme {
    color: #000000;
    text-shadow: 0px 0px 20px #9400D3;
}

.rounded-circle {
    margin-right: 10px;
}

.stars {
    color: yellow;
}

#search-results {
    position: absolute;
    background: #1b2838;
    width: 10.2%;
    z-index: 999;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #0c8ddb;
}

#search-results a {
    color: #333;
    text-decoration: none;
}

#search-results a:hover {
    color: #666;
}
